PORT=5000
FLASK_ENV=development
SECRET_KEY=streamflix_flask_super_secret_key_2026
JWT_SECRET_KEY=streamflix_jwt_secret_key_2026
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/streamflix_db
TMDB_API_KEY=4f4f1723d3e5c1e9571656f5152345f6
